.card-detail {
    height: auto;
    padding: 50px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 27%);
    display: flex;

    @media only screen and (max-width: 768px) {
        display: block !important;
    }
}

img {
    box-shadow: 0 4px 8px rgb(27 62 87 / 21%);
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    
    @media only screen and (max-width: 768px) {
        margin-top: 80px;
    }
}

.container {
    margin-left: 100px;
    margin-right: 50px;
    
    @media only screen and (max-width: 768px) {
        margin-left: 0 !important;
    }
}

.progress-container {
    height: 15px;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress-bar {
    height: 15px;
    background-color: #81add4;
    transition: width 0.5s ease-in-out;
}

.btn {
    cursor: pointer;
    display: inline-flex;
    border: none;
    border-radius: 25px;
    padding: 6px;
    background-color: rgb(220 220 220);
    text-decoration: auto;
    color: #424242;
}

.breeds-text {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 60px;

    @media only screen and (max-width: 768px) {
        font-size: 40px;
        position: absolute;
        top: 40px;
    }
}

.icon {
    padding: 7px;
}

.text-btn {
    padding-right: 5px;
}